<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{>link}}

</head>
<body>

    {{>nav}}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 p-0 mx-auto">
                <div class="row align-items-center main-header">
                    <!-- Left Side Hero page -->
                    <div class="col-md-6 col-12 main_header_right p-5">
                        <div class="carousel-item active">
                            <img src="image/me.png" class="w-50 myImage" alt="...">
                        </div>
                    </div>
                    <!-- Right Side Hero page -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to About Page</p>
                        <h2>I am <span class="text-primary font-weight-bold"> Mukul Dahiya</span> and I am web developer.</h2>
                        <p>You can check today weather here</p>
                        <a href="/weather"><button>Check Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>    


    {{>footer}}

    
</body>
</html>