<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {{>link}}

</head>
<body>
    <!-- <h1>Welcome to Static Page</h1> -->

    <!-- <button class="btn btn-danger">Hello Guyz</button> -->


    <!-- NavBar -->

    
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 p-0 mx-auto">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand " href="#"><i class=" SnowBall fa-solid fa-snowflake"></i> Weather Page <i class="SnowBall fa-solid fa-snowflake"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/weather">Weather</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                        </li>
                      </ul>




                      <!-- <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form> -->
                    </div>
                  </nav>
            </div>
        </div>
    </div>

    <!-- main Header or Hero Page -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 p-0 mx-auto">
                <div class="row align-items-center main-header">
                    <!-- Left Side Hero page -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h2>Get The Latest <span class="text-primary font-weight-bold">Weather</span>Info Your City</h2>
                       <a href="/weather"><button>Check Now</button></a>
                    </div>
                    <!-- Right Side Hero page -->
                    <div class="col-md-6 col-12 main_header_right p-5">
                        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item " data-bs-interval="1000">
                                <img src="image/meteorology-abstract-concept-vector-illustration-met-station-meteorology-program-university-degree-weather-prediction-method-measuring-instruments-atmosphere-study-abstract-metaphor_335657-1980.webp" class=" h-100 w-100" alt="...">
                              </div>
                              <div class="carousel-item" data-bs-interval="200">
                                <img src="image/png-transparent-wet-season-rain-weather-severe-weather-conditions-building-cloud-weather-vector-thumbnail.png" class="w-100" alt="...">
                              </div>
                            </div>
                              <div class="carousel-item active">
                                <img src="image/weather-forecast-online-tiny-people-watching-weather-forecast-use-laptop-sun-clouds-wind_501813-457.webp" class="w-100" alt="...">
                              </div>

                            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <!-- footer  -->

    <footer>
        <div class="txt">
        <p>Created by Mukul Dahiya. ❤ Thanku For Coming to Our Site ❤</p>
        </div>
    </footer>

    
</body>
</html>